@import 'var';
header.dark
{
    background-color: $dark-base;
    .buttons
    {
        .btn
        {
            color: $dark-text-2;
        }
        .btn:hover,
        .btn[name="checked"]
        {
            color: $dark-text-1;
        }
    }
    .title
    {
        color: $dark-text-2;
    }
}
section.dark
{
    background-color: $dark-base;
    .gh
    {
        a
        {
            color: $dark-text-1;
        }
        a:hover
        {
            color: $dark-hover;
        }
    }
    .config
    {
        background-color: $dark-base-2;
        .options #opt
        {
            a
            {
                color: $dark-text-1;
            }
        }
        .options .theme
        {
            border-bottom: 1px solid $light-hover;
        }
        .options .seq .switch
        {
            .slider
            {
                background-color: $dark-base-3;
            }
            .slider::before
            {
                content: "A" !important;
                background-color: $dark-base;
                color: $dark-text-1
            }
            input:checked + .slider:before
            {
                content: ".-" !important;
            }
        }
    }
}