// Universal Colors
$submit-button: rgb(9, 113, 211);

// Light Theme
$light-text-1: #333;
$light-text-2: #444;
$light-hover: #666;

// Dark Theme
$dark-text-1: #eee;
$dark-text-2: #ddd;
$dark-hover: #ccc;
$dark-hover-2: #bbb;
$dark-base: #232937;

// Options in Dark Theme
$dark-base-15: #222835;
$dark-base-16: #1b202b;
$dark-base-2: #181c25;
$dark-base-3: #0f1116;
$dark-base-4: #445069;