@import url('https://maritimeocean41.github.io/fonts/main.css');
//@import 'mobile';
@import 'dark';
@import 'var';
*
{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    .buttons
    {
        position: absolute;
        top: 0;
        left: 25px;
        min-width: 200px;
        height: 100px;
        vertical-align: middle;
        .btn
        {
            display: inline-block;
            min-width: 80px;
            height: 60px;
            color: $light-text-1;
            margin-top: 20px;
            line-height: 60px;
            text-align: center;
            text-decoration: none;
            transition: color .2s;
        }
        .btn:hover,
        .btn[name="checked"]
        {
            color: $light-hover;
        }
    }
    .title
    {
        position: absolute;
        display: block;
        left: 50%;
        width: 250px;
        color: $light-text-1;
        cursor: default;
        margin-top: 5px;
        font-size: 2.35em;
        font-weight: 600;
        text-align: center;
        letter-spacing: 10px;
        transform: translate(-50%);
        i
        {
            text-decoration-style: none;
        }
    }
}
section
{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    form
    {
        display: block;
        width: 500px;
        height: 60px;
        margin-left: calc(50vw - 250px);
        .answer
        {
            background-color: $dark-text-2;
            width: 330px;
            height: 60px;
            outline: none;
            font-size: 1em;
            margin-left: -170px;
            text-align: center;
            border-style: none;
            border-radius: 30px;
            font-family: 'Morse';
        }
        .answer#mto
        {
            font-size: 2em;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
        }
        .submit
        {
            background-color: $submit-button;
            position: absolute;
            width: 160px;
            height: 60px;
            color: #eee;
            outline: none;
            font-size: .5em;
            margin-left: 5px;
            border-style: none;
            border-radius: 30px;
            font-family: 'Morse';
        }
    }
    .mobile_buttons
    {
        position: relative;
        display: block;
        top: 5%;
        left: 50%;
        width: 800px;
        height: 60px;
        transform: translate(-50%);
        button
        {
            background-color: $submit-button;
            width: 20%;
            height: 100%;
            outline: none;
            color: #fff;
            border-style: none;
            border-radius: 30px;
            font-family: 'Morse';
        }
    }


    .gh
    {
        position: absolute;
        left: 20px;
        bottom: 25px;
        a
        {
            color: $light-text-2;
            text-decoration: none;
        }
        a:hover
        {
            color: $light-hover;
        }
    }
    .config
    {
        background-color: $dark-text-1;
        position: absolute;
        right: 20px;
        bottom: 75px;
        width: 250px;
        height: 220px;
        opacity: 0;
        border-radius: 10px;
        .options
        {
            height: 220px;
            #opt
            {
                display: block;
                height: 110px;
                a
                {
                    display: block;
                    width: 100%;
                    height: 50px;
                    color: $light-text-1;
                    font-size: 1.25em;
                    line-height: 50px;
                    text-align: center;
                }
                .switch
                {
                    position: relative;
                    display: inline-block;
                    left: 85px;
                    width: 80px;
                    height: 45px;
                    cursor: pointer;
                    input
                    {
                        position: absolute;
                        width: 0;
                        height: 0;
                        opacity: 0;
                    }
                    .slider
                    {
                        position: absolute;
                        width: 80px;
                        height: 45px;
                        transition: .4s;
                        border-radius: 45px;
                    }
                    .slider::before
                    {
                        content: "";
                        position: absolute;
                        left: 5px;
                        bottom: 5px;
                        width: 35px;
                        height: 35px;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 36px;
                        transition: .4s;
                    }
                    input:checked + .slider:before
                    {
                        content: "";
                        transform: translateX(35px);
                    }
                }
            }
            .theme
            {
                border-bottom: 1px solid $dark-hover;
                .switch
                {
                    .slider
                    {
                        background-color: $dark-text-2;
                    }
                    .slider::before
                    {
                        background-color: $dark-hover;
                    }
                    input:checked + .slider
                    {
                        background-color: $dark-base-3;
                    }
                    input:checked + .slider:before
                    {
                        background-color: $dark-base;
                    }
                }
            }
            .seq .switch
            {
                .slider
                {
                    background-color: $dark-text-2;
                }
                .slider::before
                {
                    content: "A" !important;
                    background-color: $dark-hover;
                    color: $light-text-2;
                }
                input:checked + .slider:before
                {
                    content: ".-" !important;
                }
            }
        }
    }
    .optButton
    {
        position: absolute;
        right: 20px;
        bottom: 10px;
        min-width: 16px;
        min-height: 16px;
        cursor: pointer;
        font-size: 40px;
        line-height: 50px;
    }
}