@import url("https://maritimeocean41.github.io/fonts/main.css");
header.dark {
  background-color: #232937;
}
header.dark .buttons .btn {
  color: #ddd;
}
header.dark .buttons .btn:hover,
header.dark .buttons .btn[name=checked] {
  color: #eee;
}
header.dark .title {
  color: #ddd;
}

section.dark {
  background-color: #232937;
}
section.dark .gh a {
  color: #eee;
}
section.dark .gh a:hover {
  color: #ccc;
}
section.dark .config {
  background-color: #181c25;
}
section.dark .config .options #opt a {
  color: #eee;
}
section.dark .config .options .theme {
  border-bottom: 1px solid #666;
}
section.dark .config .options .seq .switch .slider {
  background-color: #0f1116;
}
section.dark .config .options .seq .switch .slider::before {
  content: "A" !important;
  background-color: #232937;
  color: #eee;
}
section.dark .config .options .seq .switch input:checked + .slider:before {
  content: ".-" !important;
}

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
}
header .buttons {
  position: absolute;
  top: 0;
  left: 25px;
  min-width: 200px;
  height: 100px;
  vertical-align: middle;
}
header .buttons .btn {
  display: inline-block;
  min-width: 80px;
  height: 60px;
  color: #333;
  margin-top: 20px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
}
header .buttons .btn:hover,
header .buttons .btn[name=checked] {
  color: #666;
}
header .title {
  position: absolute;
  display: block;
  left: 50%;
  width: 250px;
  color: #333;
  cursor: default;
  margin-top: 5px;
  font-size: 2.35em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 10px;
  transform: translate(-50%);
}
header .title i {
  text-decoration-style: none;
}

section {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 100px);
}
section form {
  display: block;
  width: 500px;
  height: 60px;
  margin-left: calc(50vw - 250px);
}
section form .answer {
  background-color: #ddd;
  width: 330px;
  height: 60px;
  outline: none;
  font-size: 1em;
  margin-left: -170px;
  text-align: center;
  border-style: none;
  border-radius: 30px;
  font-family: "Morse";
}
section form .answer#mto {
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
section form .submit {
  background-color: rgb(9, 113, 211);
  position: absolute;
  width: 160px;
  height: 60px;
  color: #eee;
  outline: none;
  font-size: 0.5em;
  margin-left: 5px;
  border-style: none;
  border-radius: 30px;
  font-family: "Morse";
}
section .mobile_buttons {
  position: relative;
  display: block;
  top: 5%;
  left: 50%;
  width: 800px;
  height: 60px;
  transform: translate(-50%);
}
section .mobile_buttons button {
  background-color: rgb(9, 113, 211);
  width: 20%;
  height: 100%;
  outline: none;
  color: #fff;
  border-style: none;
  border-radius: 30px;
  font-family: "Morse";
}
section .gh {
  position: absolute;
  left: 20px;
  bottom: 25px;
}
section .gh a {
  color: #444;
  text-decoration: none;
}
section .gh a:hover {
  color: #666;
}
section .config {
  background-color: #eee;
  position: absolute;
  right: 20px;
  bottom: 75px;
  width: 250px;
  height: 220px;
  opacity: 0;
  border-radius: 10px;
}
section .config .options {
  height: 220px;
}
section .config .options #opt {
  display: block;
  height: 110px;
}
section .config .options #opt a {
  display: block;
  width: 100%;
  height: 50px;
  color: #333;
  font-size: 1.25em;
  line-height: 50px;
  text-align: center;
}
section .config .options #opt .switch {
  position: relative;
  display: inline-block;
  left: 85px;
  width: 80px;
  height: 45px;
  cursor: pointer;
}
section .config .options #opt .switch input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
section .config .options #opt .switch .slider {
  position: absolute;
  width: 80px;
  height: 45px;
  transition: 0.4s;
  border-radius: 45px;
}
section .config .options #opt .switch .slider::before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  border-radius: 36px;
  transition: 0.4s;
}
section .config .options #opt .switch input:checked + .slider:before {
  content: "";
  transform: translateX(35px);
}
section .config .options .theme {
  border-bottom: 1px solid #ccc;
}
section .config .options .theme .switch .slider {
  background-color: #ddd;
}
section .config .options .theme .switch .slider::before {
  background-color: #ccc;
}
section .config .options .theme .switch input:checked + .slider {
  background-color: #0f1116;
}
section .config .options .theme .switch input:checked + .slider:before {
  background-color: #232937;
}
section .config .options .seq .switch .slider {
  background-color: #ddd;
}
section .config .options .seq .switch .slider::before {
  content: "A" !important;
  background-color: #ccc;
  color: #444;
}
section .config .options .seq .switch input:checked + .slider:before {
  content: ".-" !important;
}
section .optButton {
  position: absolute;
  right: 20px;
  bottom: 10px;
  min-width: 16px;
  min-height: 16px;
  cursor: pointer;
  font-size: 40px;
  line-height: 50px;
}/*# sourceMappingURL=style.css.map */