@import url('https://maritimeocean41.github.io/fonts/main.css');
*
{
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header
{
    position: fixed;
    top: 10;
    left: 0;
    width: 100vw;
    height: 100px;
    .back
    {
        background-color: rgb(223, 105, 26);
        position: absolute;
        top: 20px;
        left: 35px;
        width: 150px;
        height: 40px;
        color: #fff;
        cursor: pointer;
        padding-top: 10px;
        font-size: 1.2em;
        text-align: center;
        border-radius: 25px;
        transition: background-color .2s;
    }
    .back:hover
    {
        background-color: rgb(223, 56, 26);
    }
    .title
    {
        position: absolute;
        display: block;
        left: 50%;
        width: 250px;
        cursor: default;
        font-size: 2.8em;
        font-weight: 600;
        text-align: center;
        letter-spacing: 10px;
        transform: translate(-50%);
    }
}
section
{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    .main
    {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 600px;
        height: 375px;
        padding-top: 25px;
        text-align: center;
        transform: translate(-50%);
        .word
        {
            text-transform: uppercase;
            font-size: 5em;
        }
        form
        {
            .answer
            {
                background-color: #ccc;
                position: absolute;
                top: 175px;
                left: 50px;
                width: 300px;
                height: 50px;
                padding: 0;
                border-style: none;
                border-radius: 25px;
                text-align: center;
                font-family: 'Morse';
                font-size: .5em;
                outline: none;
            }
            .submit
            {
                background-color: rgb(26, 79, 252);
                position: absolute;
                top: 175px;
                right: 50px;
                width: 180px;
                height: 50px;
                color: #fff;
                cursor: pointer;
                border-style: none;
                border-radius: 25px;
                font-family: 'Morse';
                font-size: .5em;
                outline: none;
            }
            .submit:hover
            {
                background-color: rgb(44, 92, 250);
            }
        }
    }
}