@import url('https://maritimeocean41.github.io/fonts/main.css');
@import '../main/var';
*
{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section
{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    .container
    {
        position: relative;
        left: 50%;
        width: 100vw;
        height: 500px;
        text-align: center;
        transform: translate(-50%);
        .word
        {
            display: block;
            width: 100vw;
            color: $light-text-1;
            font-size: 5em;
            font-weight: 500;
            margin-top: 50px;
            text-transform: uppercase;
        }
        .word#mto
        {
            margin-bottom: 35px;
            font-size: .8em;
            word-spacing: 7px;
            font-family: 'Morse';
        }
    }
}
section.dark .container .word
{
    color: $dark-hover;
}