@import url('https://maritimeocean41.github.io/fonts/main.css');
*
{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    vertical-align: middle;
    .buttons
    {
        position: absolute;
        top: 0;
        left: 25px;
        min-width: 200px;
        height: 100px;
        vertical-align: middle;
        .btn
        {
            display: inline-block;
            min-width: 80px;
            height: 60px;
            color: #333;
            margin-top: 20px;
            line-height: 60px;
            text-align: center;
            text-decoration: none;
            transition: color .2s;
        }
        .btn:hover,
        .btn[name="checked"]
        {
            color: #666;
        }
    }
    .title
    {
        position: absolute;
        display: block;
        left: 50%;
        width: 250px;
        color: #333;
        cursor: default;
        margin-top: 5px;
        font-size: 2.8em;
        font-weight: 600;
        line-height: 80px;
        text-align: center;
        letter-spacing: 10px;
        transform: translate(-50%);
        i
        {
            text-decoration-style: none;
        }
    }
    #mto
    {
        width: 500px;
        font-size: 2em;
        letter-spacing: 6px;
    }
}
section
{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 100vh;
    .container
    {
        position: relative;
        left: 50%;
        width: 800px;
        height: 500px;
        text-align: center;
        transform: translate(-50%);
        .word
        {
            display: block;
            min-width: 800px;
            color: #111;
            font-size: 5em;
            font-weight: 500;
            margin-top: 50px;
            text-transform: uppercase;
        }
        .word#mto
        {
            margin-bottom: 35px;
            font-size: .8em;
            word-spacing: 7px;
            font-family: 'Morse';
            word-break: normal;
        }
        form
        {
            display: block;
            width: 800px;
            height: 60px;
            .answer
            {
                background-color: #ddd;
                width: 300px;
                height: 60px;
                outline: none;
                font-size: .8em;
                margin-left: -170px;
                text-align: center;
                padding-left: 30px;
                border-style: none;
                border-radius: 30px;
                font-family: 'Morse';
            }
            .answer#mto
            {
                font-size: 2em;
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
            }
            .submit
            {
                background-color: rgb(9, 113, 211);
                position: absolute;
                width: 160px;
                height: 60px;
                color: #eee;
                outline: none;
                font-size: .5em;
                margin-left: 5px;
                border-style: none;
                border-radius: 30px;
                font-family: 'Morse';
            }
        }
    }
    .gh
    {
        position: absolute;
        left: 20px;
        bottom: 120px;
        a
        {
            color: #444;
            text-decoration: none;
        }
        a:hover
        {
            color: #666;
        }
    }
    #theme
    {
        position: absolute;
        right: 5px;
        bottom: 100px;
        width: 80px;
        height: 80px;
        cursor: pointer;
        a
        {
            position: absolute;
            font-size: 1.8em;
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        }
        a#th
        {
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
        }
    }
}